* {
    padding: 0;
    margin: 0
}

:root {
    --ver_pad: #94585dba;
    --ver_pad_strong: #312a31;
    --ver_pad_vintage: #8b7947;
}

body {
    width: 100%;
    min-height: 100vh;
    height: 110vh;
    overflow: transparent;
}

body::-webkit-scrollbar {
    width: 1px;
    /* Largura da barra vertical */
    height: 10px;
    /* Altura da barra horizontal */
}

body::-webkit-scrollbar-track {
    background: var(--ver_pad_strong);
    /* Cor do fundo da barra */
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: var(--ver_pad_strong);
    /* Cor da "alça" da barra */
    border-radius: 10px;
}

main#principal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

main#principal #left {
    width: 18%;
    height: 100%;
    background-color: var(--ver_pad_strong);
    padding: 5% 0 5% 0;
    z-index: 3;
}

main#principal #left .foto_login {
    margin-bottom: 1em;
}

main#principal #left .foto_login i {
    color: #ffffff;
    font-size: 120px;
    display: flex;
    justify-content: start;
    align-items: start;
}

main#principal #left .inferior {
    width: 100%;
    padding: 0 10% 0 10%;
    margin-top: 20%;
}

main#principal #left li {
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.2em;
    color: var(--ver_pad);
    font-size: 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.242);
    height: 55px;
    width: 100%;
    padding: 0 0 0 10%;
    display: flex;
    flex-direction: row;

}

main#principal #left li a {
    margin-bottom: -5px;
}

main#principal #left .active {
    color: white !important;
}

#area_apresent {
    width: 100%;
    height: 100%;
}


/* QUADRANTE DIREITO */

main#principal #right {
    width: 82%;
    height: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

main#principal #right>nav {
    width: 100%;
    min-height: 40px;
    height: 40px;
    background: linear-gradient(45deg, #8b7947 50%, var(--ver_pad_strong) 50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    padding: 0 3% 0 3%;
    box-shadow: -3px 2px 3px #00000075;
    z-index: 2;
}

main#principal #right>nav h1 {
    font-weight: 600;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.613);
}

main#principal #right .barra_progresso {
    min-width: 400px;
    height: 100%;
}

main#principal #right .barra_progresso .skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}


main#principal #right .barra_progresso .skills .percent {
    background-color: var(--ver_pad);
    width: 300px;
    height: 4px;
    margin: 0 10px;
}

main#principal #right .barra_progresso .skills .percent .progress {
    background-color: rgb(116 129 107);
    height: 100%;

}

main#principal #right .barra_progresso .skills span {
    color: white;
}

/* QUADRANTE DIREITO */

/* SISTEMAS CONECTADOS - HOME - */

.area {
    width: 100%;
    height: 100%;
    background-color: rgb(178, 173, 173);
}

.area {
    padding: 1.3%;
}

.area .box1 .sun_box1 {
    width: 530px;
}

.area .box1 .sun_box2 {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.area .box1 .area_sun {
    width: 100%;
    padding: 0 40px;
}

.area div:nth-child(1) .sun_box2 .container1>div {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.area .box1 .sun_box3 {
    width: 250px;
}

.area .box1 .sunform,
.area .box2 .sunbox2,
.area .box2 .sunbox3 {
    background-color: white;
    position: relative;
    padding: 16px 0 16px 0;
    box-shadow: 2px 2px 5px #00000059;
    max-height: 284px;
    min-height: 284px;
    height: 284px;
}

.area .box1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

}

.area .container1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;
}

.area .titulo_green {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -1px;
    text-align: center;
}

.area .container1 .section1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.area .container1 .section1>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.area .container1 .texto_title {
    border-top: 1px solid var(--ver_pad);
    border-bottom: 1px solid var(--ver_pad);
    margin-bottom: 20px;
}

.area .container1 .section1>div input,
.area .container1 .inptstyle {
    width: 150px;
    color: grey;
    font-size: 12px;
}

.area .container1 .section1>div input::placeholder {
    font-size: 13px;
}

.area .container1 .section1>div input:focus {
    border: none;
    outline: none;
}

.area .square {
    width: 40px;
    height: 30px;
    background-color: #b2adad;
    position: absolute;
    border-radius: 0 10px 10px 0;
    top: 20px;
    left: -10px;
    box-shadow: inset 14px 1px 5px #b2adad, inset -4px 0px 4px #00000069;
}

.area .botoes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.area .container1 .section1>div .campos {
    height: 80px;
    width: 100%;
    overflow-y: auto;
    scrollbar-gutter: stable;
    /* <-- ESSENCIAL */
}

.area .container1 .section1>div .campos div {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
}

.area .container1 .section1>div .campos div button {
    cursor: pointer;
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    transition: 0.3s;
}

.area .botoes button {
    cursor: pointer;
    transition: 0.3s;
}

.area .botoes button:hover,
.area .container1 .section1>div .campos div button:hover {
    color: var(--ver_pad_vintage);
}

.area .sun_box2 .container1>div textarea {
    width: 100%;
    height: 120px;
    padding: 2%;
}

.area .sun_box2 .container1>div textarea:focus {
    outline: 1px solid var(--ver_pad_vintage);

}

.area .sun_box3 .section1 {
    flex-direction: column !important;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.area .sun_box3 .section1 .texto_title {
    margin-bottom: 0 !important;
}

.area .sun_box3 .btn_convert_cdprod,
.btncanto {
    width: 200px;
    height: 60px;
    background-color: var(--ver_pad_strong);
    color: white;
    box-shadow: 4px 4px 5px #00000075;
    transition: 0.3s;

}

.area .sun_box3 .btn_convert_cdprod:hover,
.btncanto:hover {
    background-color: #8b7947a3;
    cursor: pointer;
}

.area .section1>span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.397);
    text-align: center;
    padding: 0 10px;
}

/* SEGUNDA SECTION DO HOME */
.area .box2 .sun_box2 .texto_title {
    text-align: center;
    margin-top: 15px;
}

.area .sun_box2 .sq_right {
    width: 100%;
    height: 100%;
}

.area .sun_box2 .sq_right label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    position: relative;
    height: 100%;
}

.area .sun_box2 .sq_right label img {
    width: 70px;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.53));
    transition: 0.3s;
    cursor: pointer;
}

.area .sun_box2 .sq_right label img:hover {
    opacity: 0.5;
}

.area .box2 .sun_box2 .btn_excel_up,
.area .btnfin {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    transition: 0.3s;
}

.area .box2 .sun_box2 .btn_excel_up:hover,
.area .btnfin:hover {
    color: var(--ver_pad_vintage);
    cursor: pointer;
}

#arquivoExcel,
#arquivoJSON {
    color: #83838373;
    font-size: 14px;
}

/* SEGUNDA SECTION DO HOME */

/* TERCEIRA SECTION DO HOME */

.area .box1.box3 {
    margin-bottom: 0;
}

.area .box3 .sunform {
    min-height: 116px !important;
    max-height: 116px !important;
    height: 100px;
}

.area .ajust1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.area .forminput {
    width: 150px;
    color: grey;
    font-size: 12px;
    outline: none;
    border-top: 1px solid var(--ver_pad);
    border-bottom: 1px solid var(--ver_pad);
}

.area .box3 .container1 {
    padding: 0;
    align-items: center;
}

.area .box3 .container1 .section1 {
    padding-top: 0;
}

.area .box3 .sun_box2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.area .box3 .sun_box2 .container1 button {
    width: 200px;
    height: 120px;
    background-color: var(--ver_pad_strong);
    color: white;
    box-shadow: 4px 4px 5px #00000075;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area .box3 .sun_box2 .container1 button:hover {
    background-color: #8b7947a3;
    cursor: pointer;
}

/* TERCEIRA SECTION DO HOME */

/* SISTEMAS CONECTADOS - HOME - */


/* BASE_DE_DADOS.PHP */

.area_basededados .container1 {
    padding: 1%;
}

.area_basededados .box1 .sun_box1 {
    width: 1056.54px;
}

.area_basededados .box1 .sun_box1 .ajust_import {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}

.area_basededados .box1 .sun_box1 .ajust_import>div {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.area_basededados .box1 .sun_box1 .ajust_import>div .texto_title {
    text-align: center;
}

.area_basededados .sun_box1 .sq_right {
    height: 100%;
}

.area_basededados .sun_box1 .sq_right label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    position: relative;
    height: 100%;
}

.area_basededados .sun_box1 .sq_right label img {
    width: 70px;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.53));
    transition: 0.3s;
    cursor: pointer;
}

/* SCROLL BONITO */
#categoriasContainer {
    max-height: 90px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.checkbox-cat {
    display: block;
    font-family: sans-serif;
    margin: 6px 0;
    position: relative;
    cursor: pointer;
    padding-left: 25px;
    transition: background 0.2s ease;
}

.checkbox-cat input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 3px;
}

.checkbox-cat span {
    position: relative;
    display: inline-block;
}

.checkbox-cat input:checked+span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #007bff;
    animation: underline 0.4s ease forwards;
}

@keyframes underline {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.cat-label {
    display: flex;
    align-items: center;
    margin: 5px 0;
    cursor: pointer;
    position: relative;
}

.cat-label input[type="checkbox"] {
    margin-right: 8px;
    transform: scale(1.2);
}

/* ANIMAÇÃO: risca da esquerda pra direita */
.cat-label span {
    position: relative;
}

.cat-label span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0;
    background-color: #007bff;
    transition: width 0.4s ease;
}

.cat-label input[type="checkbox"]:checked+span::after {
    width: 100%;
}

/* indentação */
.nivel-1 span {
    padding-left: 20px;
}

.nivel-2 span {
    padding-left: 40px;
}

.nivel-3 span {
    padding-left: 60px;
}


.area_basededados .sun_box1 .sq_right label img:hover {
    opacity: 0.5;
}

#categoriasContainer label {
    padding-left: 5px;
    font-family: sans-serif;
    font-size: 14px;
}


/* SESSAO DE PREÇOS */

.area_basededados .sun_box3 .container1 .section1>div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.area_basededados .sun_box3 .container1 .section1>div select#mode {
    box-shadow: 4px 3px 5px #00000036;
    width: 90%;
    height: 35px;
    text-align: center;
    background: #8b7947;
    color: white;
    font-size: 10px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    margin-top: 7px;
}



.area_basededados .sun_box3 .container1 .section1>div label {
    width: 100%;
    text-align: center;
    margin-top: 7px;
}

.area_basededados .sun_box3 input[type=number]::-webkit-inner-spin-button,
.area_basededados .sun_box3 input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.area_basededados .sun_box3 .container1 .section1 input#percent {
    text-align: center;
    border: 1px solid black;
    width: 30%;
}

.area_basededados .button_lg_p {
    width: 70px;
    height: 30px;
    background-color: var(--ver_pad_strong);
    color: white;
    box-shadow: 2px 2px 5px #00000075;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.area_basededados .button_lg_p:hover {
    background-color: #8b7947a3;
    cursor: pointer;
}

.area_basededados .sun_box3 .container1 .section1 #percent_esp {
    width: 50%;
    font-size: 12px;
    margin-bottom: 7px;
}

.area_basededados .sun_box3 .container1 .section1 .btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.area_basededados .sun_box3 .container1 .section1 select#category {
    box-shadow: 4px 3px 5px #00000036;
    width: 90%;
    height: 35px;
    text-align: center;
    background: #8b7947;
    color: white;
    margin-top: 10px;
    font-size: 10px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

/* SESSAO DE PREÇOS */

/* BASE_DE_DADOS.PHP */

@media (max-width:500px) {
    body {
        height: auto !important;
    }

    .superior {
        zoom: 31%;
    }

    .area {
        zoom: 51% !important;
    }

    nav {
        font-size: 3px !important;
    }

    main#principal #right .barra_progresso {
        min-width: 90px;
    }

    main#principal #right .barra_progresso .skills .percent {
        width: 80px;
    }

    ul {
        zoom: 20%;
    }

    .area .box1 {

        flex-direction: column !important;

    }

    .area .box1 .sun_box3 {
        width: 100% !important;
        margin: 10px 0;
    }

    .area .box1 .sun_box2 {
        width: 100%;
        margin: 10px 0;
    }

    .area .box1 .sun_box1 {
        width: 100%;
        margin: 10px 0;
    }

    main#principal #left {
        height: auto !important;
    }

}

@media (min-width:500px) and (max-width:827px) {
    body {
        height: auto !important;
    }

    .superior {
        zoom: 51%;
    }

    .area {
        zoom: 81% !important;
    }

    nav {
        font-size: 4px !important;
    }

    main#principal #right .barra_progresso {
        min-width: 110px;
    }

    main#principal #right .barra_progresso .skills .percent {
        width: 100px;
    }

    ul {
        zoom: 30%;
    }

    .area .box1 {

        flex-direction: column !important;

    }

    .area .box1 .sun_box3 {
        width: 100% !important;
        margin: 10px 0;
    }

    .area .box1 .sun_box2 {
        width: 100%;
        margin: 10px 0;
    }

    .area .box1 .sun_box1 {
        width: 100%;
        margin: 10px 0;
    }

    main#principal #left {
        height: auto !important;
    }
}


@media(min-width:827px) and (max-width:1000px) {
    .area {
        zoom: 51% !important;
    }

    nav {
        font-size: 7px !important;
    }

    main#principal #right .barra_progresso {
        min-width: 110px;
    }

    main#principal #right .barra_progresso .skills .percent {
        width: 100px;
    }

    ul {
        zoom: 40%;
    }
}

@media(min-width:1000px) and (max-width:1280px) {
    .area {
        zoom: 61% !important;
    }

    nav {
        font-size: 10px !important;
    }

    main#principal #right .barra_progresso {
        min-width: 110px;
    }

    main#principal #right .barra_progresso .skills .percent {
        width: 100px;
    }

    ul {
        zoom: 60%;
    }
}

@media (min-width:1280px) and (max-width:1366px) {

    .area {
        zoom: 71% !important;
    }

    .area_home .box1 .sun_box1 {
        width: 626px;
    }

    main#principal #right>nav h1 {
        font-size: 14px;
    }

    .area_home .box1 {
        width: 100%;
        height: auto;
    }

    main#principal #left .foto_login i {
        font-size: 100px;
    }

    main#principal #left li {
        font-size: 13px;
    }
}

@media(min-width:1367px) and (max-width:1500px) {
    .area {
        zoom: 81% !important;
    }
}

@media(min-width:1500px) and (max-width:1700px) {
    .area {
        zoom: 88% !important;
    }
}